@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "roboto" , serif;
}
p{
    display: flex;
}

nav{

    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 512px;
    background-color: white;
    margin: 0 auto;
}
.logo{
    width:55px;
}

header{
    background-color: white;
    height: calc(100vh - 70px);
    padding: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.get--startedbtn{
    display:flex;
    justify-content: flex-end;
}
h1{
    font-size: 32px;
}
.subheader{
    font-size: 24px;
    margin: 16px 0 24px 0;
}

button{
    color:blue;
   
}

.design{
    width:600px
}
a {
    color: black;
    font-size: 24px;
    font-weight: 700px;
    text-decoration: none;
}

  ul{
    display: flex;
  }

li{
    list-style: none;
    padding: 24px;
}
.blue{
    color: blue;
}
.row{
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.input{
    float: left 100px;

}
.wrapper{
    width:400px;
    max-width: 100%;
    position: relative;
}

.wrapper input{
    background: rgba(255, 255, 255, 0.3);
    border: 2px solid rgb(78, 77, 77);
    border-radius: 50px;
    padding: 1rem 2rem;
    width:100%;
}

.wrapper button{
    background-color: blue;
    border-radius: 50%;
    height: 100%;
    aspect-ratio: 1;
    position: absolute;
    right: 10px;
}

.h2class{
    text-align: center;
}
.text{
    text-align: center;
}
.purple{
    color: blueviolet;
}

.subheader{
    text-align: center;
}
.gray{
    color: darkgrey;
}
.lorem{
    text-align: center;
}

.features__container{
    padding: 80px 0;
    display: flex;
    flex-wrap: wrap;
}

.features__container div{
    width: calc(100%/3);
}

.quality__container{
   display: flex; 
   justify-content: center;
   align-items: center;
}

.testimonials__image{
    width:640px;
    height: 640px;
}

.quality__img--wrapper{
    display: flex;
}

.qualityimg{
    width: 600px;
}


.valuesimg{
    width: 630px;
}


.start__buttons{
    display:flex;
    justify-content: flex-end;
    flex-direction: column;
    
}










   