@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "roboto" , serif;
}

/* NAVIGATION BAR */
nav{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    background-color: white;
}

a {
    color: black;
    font-size: 24px;
    font-weight: 700px;
    text-decoration: none;
}

.logo{
    width: 75px;
}


    
    ul {
        display: flex;
    }

    li {
      list-style-type: none;
      padding-left: 16px;
      display: flex;
    }

    .button{
        color: rgb(98, 43, 226);

    }